<!DOCTYPE html>
<html>
<head>
    <title>Cuestionario sobre Consumo de Cannabis</title>
</head>
<body>
    <h1>Cuestionario sobre Consumo de Cannabis</h1>
    <form action="/submit-cannabis-questionnaire" method="post">
        <p>1. Pensando en el consumo de cannabis en su vida, ¿Con qué frecuencia ha consumido?</p>
        <input type="radio" id="q1_7" name="q1" value="7">
        <label for="q1_7">Nunca</label><br>
        <input type="radio" id="q1_8" name="q1" value="8">
        <label for="q1_8">Alguna vez en la vida</label><br>
        <input type="radio" id="q1_9" name="q1" value="9">
        <label for="q1_9">Una vez al año</label><br>
        <input type="radio" id="q1_10" name="q1" value="10">
        <label for="q1_10">Cada 6 meses</label><br>
        <input type="radio" id="q1_11" name="q1" value="11">
        <label for="q1_11">Cada 3 meses</label><br>
        <input type="radio" id="q1_12" name="q1" value="12">
        <label for="q1_12">Mensualmente</label><br>
        <input type="radio" id="q1_13" name="q1" value="13">
        <label for="q1_13">Cada 15 días</label><br>
        <input type="radio" id="q1_14" name="q1" value="14">
        <label for="q1_14">Semanalmente</label><br>
        <input type="radio" id="q1_15" name="q1" value="15">
        <label for="q1_15">3-4 veces por semana</label><br>
        <input type="radio" id="q1_16" name="q1" value="16">
        <label for="q1_16">Todos los días</label><br>
<br>        <p>2. ¿A qué edad comenzó a consumir cannabis?</p>
        <input type="radio" id="q2_7" name="q2" value="7">
        <label for="q2_7">Nunca</label><br>
        <input type="radio" id="q2_8" name="q2" value="8">
        <label for="q2_8">Alguna vez en la vida</label><br>
        <input type="radio" id="q2_9" name="q2" value="9">
        <label for="q2_9">Una vez al año</label><br>
        <input type="radio" id="q2_10" name="q2" value="10">
        <label for="q2_10">Cada 6 meses</label><br>
        <input type="radio" id="q2_11" name="q2" value="11">
        <label for="q2_11">Cada 3 meses</label><br>
        <input type="radio" id="q2_12" name="q2" value="12">
        <label for="q2_12">Mensualmente</label><br>
        <input type="radio" id="q2_13" name="q2" value="13">
        <label for="q2_13">Cada 15 días</label><br>
        <input type="radio" id="q2_14" name="q2" value="14">
        <label for="q2_14">Semanalmente</label><br>
        <input type="radio" id="q2_15" name="q2" value="15">
        <label for="q2_15">3-4 veces por semana</label><br>
        <input type="radio" id="q2_16" name="q2" value="16">
        <label for="q2_16">Todos los días</label><br>
<br>        <p>4. ¿De dónde obtiene el cannabis?</p>
        <input type="radio" id="q4_7" name="q4" value="7">
        <label for="q4_7">Nunca</label><br>
        <input type="radio" id="q4_8" name="q4" value="8">
        <label for="q4_8">Alguna vez en la vida</label><br>
        <input type="radio" id="q4_9" name="q4" value="9">
        <label for="q4_9">Una vez al año</label><br>
        <input type="radio" id="q4_10" name="q4" value="10">
        <label for="q4_10">Cada 6 meses</label><br>
        <input type="radio" id="q4_11" name="q4" value="11">
        <label for="q4_11">Cada 3 meses</label><br>
        <input type="radio" id="q4_12" name="q4" value="12">
        <label for="q4_12">Mensualmente</label><br>
        <input type="radio" id="q4_13" name="q4" value="13">
        <label for="q4_13">Cada 15 días</label><br>
        <input type="radio" id="q4_14" name="q4" value="14">
        <label for="q4_14">Semanalmente</label><br>
        <input type="radio" id="q4_15" name="q4" value="15">
        <label for="q4_15">3-4 veces por semana</label><br>
        <input type="radio" id="q4_16" name="q4" value="16">
        <label for="q4_16">Todos los días</label><br>
<br>        <p>5. ¿Cuánto tiempo pasó desde que consumió por última vez?</p>
        <input type="radio" id="q5_7" name="q5" value="7">
        <label for="q5_7">Nunca</label><br>
        <input type="radio" id="q5_8" name="q5" value="8">
        <label for="q5_8">Alguna vez en la vida</label><br>
        <input type="radio" id="q5_9" name="q5" value="9">
        <label for="q5_9">Una vez al año</label><br>
        <input type="radio" id="q5_10" name="q5" value="10">
        <label for="q5_10">Cada 6 meses</label><br>
        <input type="radio" id="q5_11" name="q5" value="11">
        <label for="q5_11">Cada 3 meses</label><br>
        <input type="radio" id="q5_12" name="q5" value="12">
        <label for="q5_12">Mensualmente</label><br>
        <input type="radio" id="q5_13" name="q5" value="13">
        <label for="q5_13">Cada 15 días</label><br>
        <input type="radio" id="q5_14" name="q5" value="14">
        <label for="q5_14">Semanalmente</label><br>
        <input type="radio" id="q5_15" name="q5" value="15">
        <label for="q5_15">3-4 veces por semana</label><br>
        <input type="radio" id="q5_16" name="q5" value="16">
        <label for="q5_16">Todos los días</label><br>
<br>
            <p>6. Considerando las siguientes fotos:</p>

<br>        <p> Usualmente cuando consume, ¿Cuántos gramos consume?</p>
        <input type="radio" id="q6_7" name="q6" value="7">
        <label for="q6_7">Nunca</label><br>
        <input type="radio" id="q6_8" name="q6" value="8">
        <label for="q6_8">Alguna vez en la vida</label><br>
        <input type="radio" id="q6_9" name="q6" value="9">
        <label for="q6_9">Una vez al año</label><br>
        <input type="radio" id="q6_10" name="q6" value="10">
        <label for="q6_10">Cada 6 meses</label><br>
        <input type="radio" id="q6_11" name="q6" value="11">
        <label for="q6_11">Cada 3 meses</label><br>
        <input type="radio" id="q6_12" name="q6" value="12">
        <label for="q6_12">Mensualmente</label><br>
        <input type="radio" id="q6_13" name="q6" value="13">
        <label for="q6_13">Cada 15 días</label><br>
        <input type="radio" id="q6_14" name="q6" value="14">
        <label for="q6_14">Semanalmente</label><br>
        <input type="radio" id="q6_15" name="q6" value="15">
        <label for="q6_15">3-4 veces por semana</label><br>
        <input type="radio" id="q6_16" name="q6" value="16">
        <label for="q6_16">Todos los días</label><br>
<br>        <p>7. ¿Cuál cree que es el porcentaje de THC del cannabis que consume? </p>
        <input type="radio" id="q7_7" name="q7" value="7">
        <label for="q7_7">Nunca</label><br>
        <input type="radio" id="q7_8" name="q7" value="8">
        <label for="q7_8">Alguna vez en la vida</label><br>
        <input type="radio" id="q7_9" name="q7" value="9">
        <label for="q7_9">Una vez al año</label><br>
        <input type="radio" id="q7_10" name="q7" value="10">
        <label for="q7_10">Cada 6 meses</label><br>
        <input type="radio" id="q7_11" name="q7" value="11">
        <label for="q7_11">Cada 3 meses</label><br>
        <input type="radio" id="q7_12" name="q7" value="12">
        <label for="q7_12">Mensualmente</label><br>
        <input type="radio" id="q7_13" name="q7" value="13">
        <label for="q7_13">Cada 15 días</label><br>
        <input type="radio" id="q7_14" name="q7" value="14">
        <label for="q7_14">Semanalmente</label><br>
        <input type="radio" id="q7_15" name="q7" value="15">
        <label for="q7_15">3-4 veces por semana</label><br>
        <input type="radio" id="q7_16" name="q7" value="16">
        <label for="q7_16">Todos los días</label><br>
<br>        <input type="submit" value="Enviar">
    </form>
</body>
</html>
