<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Consentimiento informado - Estudio sobre efectos del Cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">
</head>
<body lang="es-UY" dir="ltr"><h1>Consentimiento Informado</h1>
<main>
<p>Acepto participar en la investigación Síntomas prodrómicos de
psicosis: Ideas de autorreferencia y características discursivas en
consumidores de cannabis como variables para la detección temprana
de riesgo. (Investigador principal: Mag. Psic. Richard Rodriguez;
Facultad de Psicología – Universidad de la República). Como
participante, tendré que completar una serie de cuestionarios (un
cuestionario sociodemográfico, un cuestionario breve sobre
experiencias infantiles adversas, uno sobre consumo de cannabis y 3
cuestionarios referidos a mi comportamiento y pensamiento. Además<span style="background: transparent">,</span>
tendré que grabar un fragmento de discurso desde el micrófono de mi
celular). Posteriormente podría ser convocado para tener una
entrevista virtual en la que profundizaremos en aspectos
individuales.</p>
<p align="justify" style="margin-bottom: 0cm"><br/>

</p>
<p align="justify" style="margin-bottom: 0.21cm">Declaro
que:</p>
<ul>
	<li><p align="justify" style="orphans: 2; widows: 2; margin-top: 0.21cm; margin-bottom: 0cm"><a name="_heading=h.gjdgxs"></a>
	<font color="#000000">He leído
	la hoja de información y, en caso de desearlo, he podido descargar
	una copia de la misma, para poder consultarla en el futuro.</p>
	<li><p align="justify" style="orphans: 2; widows: 2; margin-bottom: 0cm">
	<font color="#000000">Entiendo
	que mi participación es voluntaria y libre, y que puedo retirarme
	del estudio en cualquier momento, sin tener que dar explicaciones y
	sin que ello cause perjuicio alguno sobre mi persona.</p>
	<li><p align="justify" style="orphans: 2; widows: 2; margin-bottom: 0cm">
	<font color="#000000">Entiendo
	que no obtendré beneficios directos a través de mi participación
	y que<font color="#000000"><span style="background: transparent">,</span><font color="#000000">
	en caso de sentir alguna incomodidad o malestar, se me ofrecerá la
	atención adecuada<font color="#000000">.</p>
	<li><p align="justify" style="orphans: 2; widows: 2; margin-bottom: 0cm">
	<font color="#000000">Estoy
	informado sobre el tratamiento confidencial y anónimo con el que se
	manejarán mis datos personales.</p>
	<li><p align="justify" style="orphans: 2; widows: 2; margin-bottom: 0cm">
	<font color="#000000">Entiendo
	que, en caso de tener dudas, puedo contactar con el/la
	investigador/a responsable, para realizar
	<font color="#000000">preguntas
	y resolver mis dudas sobre el estudio y mi participación en el
	mismo.</p>
	<li><p align="justify" style="orphans: 2; widows: 2; margin-bottom: 0.42cm">
	<font color="#000000">Entiendo
	que al dar mi consentimiento no renuncio a ninguno de mis derechos.</p>
</ul>
<p style="margin-bottom: 0cm"><br/>

</p>
<p align="justify">Si aceptas
participar, has un clic en el cuadro de abajo que dice “Sí quiero
participar”, y escribe tu nombre y fecha. En caso de abandonar,
puedes cerrar esta página.</p>
<center>
<form action="/submit-consent" method="post">
	<p><input type="checkbox" name="consent" value="agree" id="consent" style="width: 0.28cm; height: 0.28cm">
	Acepto los términos y condiciones del estudio<br/>
<br/>
<input type="submit" value="Enviar" id="enviar" disabled style="width: 1.72cm; height: 0.95cm">
		</p>
</form>
</center>
<main>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
	document.getElementById("consent").addEventListener('change', function() {
		if (this.checked) {
			document.getElementById("enviar").disabled = false;
		}
		else {
			document.getElementById("enviar").disabled = true;
		}
	})
});
</script>

</body>
</html>
