<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:image" content="https://emar.cicea.uy/og_big.png" />
    <title>Estudio sobre los efectos del cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="https://emar.cicea.uy">

</head>
<body>
    <header>
      <h1>
        ¡Gracias!
      </h1>
    </header>
    <main>
    <div class="logos">
      <img src="static/img/logo_psico.jpeg" alt="logo psico udelar" width="35%"/>
     <img src="static/img/logo_canna.png" alt="logo del proyecto" width="20%"/>
     <img src="static/img/logo_sevilla.png" alt="logo de uni se" width="25%"/>
      </div>
      <p>¡Gracias por participar de nuestro estudio!</p>
      <p>Sólo una cosa más. ¿Te animás a ayudarnos a difundirlo?</p>
      <div class = "social-buttons">

          <div class="fb-share-button"
            data-href="emar.cicea.uy"
            data-layout="button_count">
          </div>

        <a class="twitter-share-button"
          href="https://twitter.com/intent/tweet?text=Participé%20de%20este%20estudio%20sobre%20salud%20mental%20.%20Hacelo%20vos%20también!%20@lexicon_uy%20@psicoudelaruy&url=https://emar.cicea.uy"
          data-size="large">Posteá en X (tuiteá)</a>
          
        <button class="copylink-button" onclick="copySpecifiedURLToClipboard()">Copiar link para compartir</button>



        </div>
    
    <footer>
      <div class="credits">
        <div class="autores">
          <p><b>Investigador principal</b>: <a href="https://cibpsi.psico.edu.uy/es/users/richardrodriguez">Richard Rodríguez</a></p>
          <p><b>Equipo:</b> <a href="https://psico.edu.uy/user/524">Álvaro Cabana</a>, <a href="https://cicp.psico.edu.uy/investigacion/paul-ruiz">Paul Ruiz</a>, <a href="https://www.us.es/trabaja-en-la-us/directorio/juan-francisco-rodriguez-testal">Juan Fco. Rodriguez Testal</a>. </p>
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay - Universidad de Sevilla, España
        </div>
      </div>
    </footer>
    </main>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    
     function copySpecifiedURLToClipboard() {
  const textArea = document.createElement('textarea');
  
  // Place in top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;
  textArea.style.width = '2em';
  textArea.style.height = '2em';
  textArea.style.padding = 0;
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';
  textArea.style.background = 'transparent';

  // Hardcoded URL value
  const specifiedURL = "https://emar.cicea.uy";
  textArea.value = specifiedURL;

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    const successful = document.execCommand('copy');
    const msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.error('Oops, unable to copy', err);
  }

  document.body.removeChild(textArea);
}


    
    
    
    </script>

</body>
</html>
