<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>Información del Estudio - Estudio sobre efectos del Cannabis</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Cuestionario sobre Saliencia- Estudio sobre efectos del Cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">

</head>
<body lang="es-UY" dir="ltr"><h2>Hoja de Información</h2>
<main>
<h4 class="western">Título de la investigación:</h4>
<p>Síntomas prodrómicos de psicosis: Ideas de autorreferencia y
características discursivas en consumidores de cannabis como
variables para la detección temprana de riesgo.</p>
<h4 class="western">Institución:</h4>
<p>Facultad de Psicología – Universidad de la República.</p>
<h4 class="western">Centro/grupo de investigación:</h4>
<p>Cerebro y Lenguaje (CIBPsi) – Línea de investigación Consumo
de sustancias (CIC-P)</p>
<h4 class="western">Fuente de financiación:</h4>
<p>ANII - Agencia Nacional de Investigación e Innovación.</p>
<h4 class="western">Número de constancia de registro ante el MSP:
</h4>
<h4 class="western"><font size="3" style="font-size: 12pt"><span style="font-weight: normal"> 8475030</span></h4>
<h4 class="western">Número de expediente de la institución: <font size="3" style="font-size: 12pt"><span style="font-weight: normal">191175-000054-23</span></h4>
<p><br/>
</p>
<h4>Datos
de contacto del/de la investigador/a responsable:</h4> <b>Mag.
Psic. Richard Rodriguez </b>-  psirjrodriguez-Gmail</a></p>

<p align="justify" style="margin-bottom: 0cm">La
presente investigación tiene como objetivo conocer los efectos que
la marihuana tiene en el pensamiento y la
organización discursiva. Tendrás que completar una serie de
cuestionarios y grabar 2 respuestas a preguntas abiertas a través del el micrófono de tu dispositivo.

Te llevará entre 10 y 15 minutos y es preciso que dispongas de ese tiempo y tranquilidad para responder.
Posteriormente podríamos convocarte para tener una entrevista
virtual para profundizar un poco más.</p>

<p align="justify" style="margin-bottom: 0cm">Toda
la información obtenida será almacenada y procesada en forma
confidencial y anónima. Solo el equipo de investigación tendrá
acceso a los cuestionarios y los registros que se realicen, y en
ningún caso se divulgará información que permita la identificación
de los participantes. Solamente se te pedirá nombre y contacto telefónico por si fuese necesario convocarte para la segunda etapa de la investigación.</p>

<p align="justify" style="margin-bottom: 0cm">Tu
participación no tendrá beneficios directos para ti, aunque
contribuirá a la comprensión científica de la incidencia que pueda
tener el cannabis en el pensamiento y organización del discurso de
las personas. La participación en la investigación
es voluntaria y libre, por lo que puedes abandonar la misma cuando lo
desees, sin necesidad de dar explicación alguna.</p>

<p align="justify" style="margin-bottom: 0cm">Si existe algún tipo de dudas sobre cualquiera de las preguntas o sobre
cuestiones generales acerca del cuestionario y/o la investigación, me puedes consultar directamente. También puedes realizar preguntas luego del estudio, llamando al teléfono o escribiendo al mail que figura en el encabezado de la presente hoja de información.</p>


<center>
<br>
<div>
	<a class="button quiero_participar" href="consent">Comenzar</a>
</div>
</center>
</main>

</body>
</html>
