<!DOCTYPE html>
<html>
<head>
    <title>Preguntas Abiertas</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="https://emar.cicea.uy">

</head>
<body>
    <h2>Preguntas Abiertas (7/7)</h2>
    <main>
    <p>A continuación, se te presentan 3 preguntas abiertas. Estando tranquilo/a y ubicado/a en un lugar cómodo, responde libremente a cada una de ellas grabando una nota de voz de 3 minutos como máximo. Para poder grabar el audio, debes autorizar a que tu navegador utilice el micrófono de tu dispositivo (si no lo has hecho antes).</p>

        <!-- Question 1 -->
    <p>1. Contanos con el mayor detalle posible en un máximo de 3 minutos, ¿cómo es para vos un día común en tu semana?</p>
    <button id="recordButton1" onclick="startRecording(1)" class="recordButton">Grabar Respuesta</button>
    <button id="stopButton1" onclick="stopRecording(1)" class="stopButton" disabled>Detener Grabación</button>
    <input type="file" accept="audio/*" id="audioUpload1" style="display:none;"><div id="tick1" style="visibility:hidden"><img src="static/img/tick.png" style="width:30px;height:30px"></div>
    <div id="timer1">03:00</div>
    <br>

    <!-- Question 2 -->
    <p>2. Relata, en un máximo de 3 minutos, algún sueño que hayas tenido.</p>
    <button id="recordButton2" onclick="startRecording(2)" class="recordButton">Grabar Respuesta</button>
    <button id="stopButton2" onclick="stopRecording(2)" class="stopButton" disabled>Detener Grabación</button>
    <br>
    <input type="file" accept="audio/*" id="audioUpload2" style="display:none;"><div id="tick2" style="visibility:hidden"><img src="static/img/tick.png" style="width:30px;height:30px"></div>
    <div id="timer2">03:00</div>

        <!-- Question 3 -->
    <p>3. Respecto a la imagen que ves debajo: describe brevemente en un máximo de 3 minutos, qué está sucediendo, qué sienten los personajes y cuál será el desenlace.</p>
    <button id="recordButton3" onclick="startRecording(3)" class="recordButton">Grabar Respuesta</button>
    <button id="stopButton3" onclick="stopRecording(3)" class="stopButton" disabled>Detener Grabación</button>
    <br>
    <button id="boton_imagen" onclick="mostrar_imagen()">Mostrar imagen</button>
    
    <input type="file" accept="audio/*" id="audioUpload3" style="display:none;"><div id="tick3" style="visibility:hidden"><img src="static/img/tick.png" style="width:30px;height:30px"></div>
    <div id="imagen_test" style="visibility:hidden"><img src="static/img/test.png"></div>
    
    <div id="timer3">03:00</div>




    <button onclick="submitAnswers()" disabled id="enviar">Enviar Respuestas</button>

 
    
<script src="https://cdn.WebRTC-Experiment.com/RecordRTC.js"></script>
<script>
    let recorders = {};
    let audioBlobs = {};
    
    var interval;
    
    const options = {
        type: 'audio',
        mimeType: 'audio/webm;codecs=opus', // Using Opus codec for better compression
        bitsPerSecond: 64000, // Lower bit rate to reduce file size
        sampleRate: 24000, // Lower sample rate for voice recordings
        numberOfAudioChannels: 1, // Mono recording
        timeSlice: 180000, // Duration of recording in milliseconds
    };
    
    
    
    function mostrar_imagen() {
        boton = document.getElementById('boton_imagen')
        if ( boton.innerText == "Mostrar imagen") {
            document.getElementById('imagen_test').style.visibility = 'visible';
            boton.innerText = "Ocultar imagen";
        }
        else {
            document.getElementById('imagen_test').style.visibility = 'hidden';
            boton.innerText = "Mostrar imagen";
        }
    }
    
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        interval = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
            clearInterval(interval);
            display.textContent = "Se acabó el tiempo!";
            // You can add any actions here to be executed after the countdown ends
            }
        }, 1000);
    }
    
    function startRecording(questionNumber) {
        navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
            const recorder = new RecordRTC(stream, options);
            recorders[questionNumber] = recorder;
            recorder.startRecording();
            audios[questionNumber-1]=false;
            //document.getElementById('recordButton' + questionNumber).disabled = true;
            //document.getElementsByClassName("recordButton").disabled=true; // disable all recording buttons
            const collection = document.getElementsByClassName("recordButton");
            for (let i = 0; i < collection.length; i++) {
                collection[i].disabled = true;
            }
            document.getElementById('stopButton' + questionNumber).disabled = false;
            document.getElementById('enviar').disabled = true;
            document.getElementById('tick' + questionNumber).style.visibility = 'hidden';
            
            var display = document.getElementById('timer' + questionNumber);
            var duration = 180;
            startTimer(duration, display);
            

            //  Automatically stop recording after 3 minutes
            setTimeout(() => {
                stopRecording(questionNumber);
            }, duration*1000);
        }).catch(e => {
            console.error('Error al comenzar la grabación: ', e);
        });
    }

    function stopRecording(questionNumber) {
        let recorder = recorders[questionNumber];
        if (recorder) {
            recorder.stopRecording(() => {
                let blob = recorder.getBlob();
                audioBlobs[questionNumber] = blob;
                
                // Reset buttons
                //document.getElementsByClassName("recordButton").disabled = false; // disable all recording buttons
                const collection = document.getElementsByClassName("recordButton");
                for (let i = 0; i < collection.length; i++) {
                    collection[i].disabled = false;
                }
                document.getElementById('stopButton' + questionNumber).disabled = true;
                document.getElementById('tick' + questionNumber).style.visibility = 'visible';
                clearInterval(interval)
                audios[questionNumber-1]=true;
                if (audios[0] && audios[1]) {
                    document.getElementById('enviar').disabled = false;
                }
            });
        }
    }

   function submitAnswers() {
        let formData = new FormData();

        // Assuming audioBlobs is an object containing the audio data
        Object.keys(audioBlobs).forEach(questionNumber => {
            // Append each audio blob to formData with a key
            formData.append('audio' + questionNumber, audioBlobs[questionNumber], 'question' + questionNumber + '.wav');
        });

        fetch('/upload-audio', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            if (data.success) {
                // If the upload was successful, you might redirect the user or display a success message
                alert("Audios enviados correctamente!!");
                window.location.href = '/gracias'; // Redirect to another page if needed
            } else {
                // If the server responded with an error, display it
                alert("Error: " + data.error);
            }
        })
        .catch(error => {
            // Handle any errors that occurred during fetch
            console.error('Error:', error);
            alert("Ocurrió un error durante el envío, por favor vuelva a intentarlo en unos segundos...: " + error.message);
    });
}

let audios = [false,false];

</script>

    
    
    <main>
</body>
</html>
