<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Cuestionario de Ideas de Referencia - Estudio sobre efectos del Cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">
</head>


<body lang="es-UY" dir="ltr"><h2>Cuestionario  5/7 </h2>

<main>
<p style="line-height: 100%; margin-bottom: 0cm"><font size="3" style="font-size: 12pt">Por
favor, lee las siguientes cuestiones y responda Verdadero (V) o Falso
(F) seleccionando en la pantalla, según si se aplican a ti en estos
últimos siete días.
</p>
<p style="line-height: 100%; margin-bottom: 0cm"><font size="3" style="font-size: 12pt">En
el caso de que haya elegido Verdadero (V), indique en qué medida le
preocupa o afecta esta idea, en una escala de 0 a 5, donde 0
significa ninguna preocupación, 1 significa poca preocupación<font size="3" style="font-size: 12pt"><span style="background: transparent">,</span><font size="3" style="font-size: 12pt">
y 5 máxima preocupación o afectación.</p>
<p><br/>
<br/>

</p>
<p>1. Cuando oigo por casualidad una conversación, a menudo me
pregunto si la gente está diciendo cosas malas sobre mí.</p>
<form action="/submit-ideas" method="post">
	<p><a name="q1_61111"></a><a name="q1_71111"></a>

<input type="radio" class="vof" required name="q1vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q1vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q1vofdiv" style="display:none">
	

	<p>Qué tanto me preocupa:</p>

<input type="radio" name="q1" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q1" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q1" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q1" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q1" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q1" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>2. A menudo pienso que la gente habla sobre mí cuando voy por la
	calle.</p>
	<p><a name="q2_6111"></a><a name="q2_7111"></a>

<input type="radio" class="vof" required name="q2vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q2vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q2vofdiv" style="display:none">
	<p>Qué tanto me preocupa:</p>

<input type="radio" name="q2" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q2" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q2" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q2" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q2" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q2" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>


	<p>3. Si veo a alguien riendo, con frecuencia me pregunto si se está
	riendo de mí.</p>
	<p><a name="q3_611"></a><a name="q3_711"></a>

<input type="radio" class="vof" required name="q3vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q3vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q3vofdiv" style="display:none">
	<p>Qué tanto me preocupa:</p>
	
<input type="radio" name="q3" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q3" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q3" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q3" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q3" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q3" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>


	<p>4. Muchas veces gente extraña o que no conozco se ríe de mí.</p>
	<p><a name="q4_61"></a><a name="q4_71"></a>

<input type="radio" class="vof" required name="q4vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q4vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q4vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

<input type="radio" name="q4" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q4" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q4" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q4" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q4" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q4" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>5. La gente, a menudo, se inquieta o cambia cuando entro en una
	habitación.</p>
	<p><a name="q5_61112"></a><a name="q5_71112"></a>

<input type="radio" class="vof" required name="q5vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q5vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q5vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

<input type="radio" name="q5" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q5" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q5" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q5" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q5" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q5" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>6. Cuando veo a dos personas hablando de trabajo generalmente
	creo que me están criticando.</p>
	<p><a name="q6_611121"></a><a name="q6_711121"></a>

<input type="radio" class="vof" required name="q6vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q6vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q6vofdiv" style="display:none">
	<p>Qué tanto me preocupa:</p>

<input type="radio" name="q6" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q6" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q6" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q6" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q6" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q6" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>


	<p>7. Cuando oigo a dos personas hablando una lengua extranjera,
	muchas veces pienso que pueden estar comentando mi conducta.</p>
	<p><a name="q7_611122"></a><a name="q7_711122"></a>

<input type="radio" class="vof" required name="q7vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q7vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q7vofdiv" style="display:none">


	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q7" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q7" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q7" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q7" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q7" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q7" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>8. La gente que no conozco a menudo se fija en como visto.</p>
	<p><a name="q8_611123"></a><a name="q8_711123"></a>

<input type="radio" class="vof" required name="q8vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q8vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q8vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q8" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q8" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q8" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q8" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q8" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q8" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>9. Muchas veces siento que la gente me mira.</p>
	<p><a name="q9_611124"></a><a name="q9_711124"></a>

<input type="radio" class="vof" required name="q9vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q9vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q9vofdiv" style="display:none">


	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q9" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q9" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q9" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q9" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q9" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q9" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>10. Cuando escucho una de mis canciones favoritas, pienso que se
	escribió para mí.</p>
	<p><a name="q10_611125"></a><a name="q10_711125"></a>

<input type="radio" class="vof" required name="q10vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q10vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q10vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q10" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q10" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q10" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q10" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q10" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q10" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>11. He leído libros que parecen haberse escrito para mí.</p>
	<p><a name="q11_611126"></a><a name="q11_711126"></a>

<input type="radio" class="vof" required name="q11vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q11vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q11vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q11" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q11" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q11" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q11" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q11" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q11" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>12. Las películas a menudo parecen ser similares a mi historia o
	mi vida.</p>
	<p><a name="q12_611127"></a><a name="q12_711127"></a>

<input type="radio" class="vof" required name="q12vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q12vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q12vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q12" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q12" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q12" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q12" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q12" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q12" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>13. Muchas veces me pregunto si el locutor de radio selecciona
	las canciones precisamente para mí.</p>
	<p><a name="q13_611128"></a><a name="q13_711128"></a>

<input type="radio" class="vof" required name="q13vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q13vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q13vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q13" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q13" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q13" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q13" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q13" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q13" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>14. Bastante a menudo me pregunto si la gente esta riéndose
	cuando paso al lado de ellos.</p>
	<p><a name="q14_611129"></a><a name="q14_711129"></a>

<input type="radio" class="vof" required name="q14vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q14vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q14vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q14" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q14" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q14" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q14" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q14" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q14" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>15. A veces creo que los artículos de los periódicos contienen
	mensajes acerca de mí.</p>
	<p><a name="q15_6111210"></a><a name="q15_7111210"></a>

<input type="radio" class="vof" required name="q15vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q15vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q15vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q15" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q15" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q15" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q15" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q15" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q15" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>16. Generalmente los semáforos se vuelven rojos cuando voy
	conduciendo con prisa.</p>
	<p><a name="q16_6111211"></a><a name="q16_7111211"></a>

<input type="radio" class="vof" required name="q16vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q16vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q16vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q16" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q16" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q16" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q16" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q16" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q16" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>17. Los perros parece que se ponen a ladrar cuando me acerco o
	paso por su lado.</p>
	<p><a name="q17_6111212"></a><a name="q17_7111212"></a>

<input type="radio" class="vof" required name="q17vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q17vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q17vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q17" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q17" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q17" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q17" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q17" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q17" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>18. Cuando voy en ómnibus, a menudo parece que la gente me mira
	fijamente.</p>
	<p><a name="q18_6111213"></a><a name="q18_7111213"></a>

<input type="radio" class="vof" required name="q18vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q18vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q18vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q18" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q18" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q18" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q18" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q18" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q18" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>19. No creo que la gente en la calle ponga especial atención en
	mí.</p>
	<p><a name="q19_6111214"></a><a name="q19_7111214"></a>

<input type="radio" class="vof" required name="q19vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q19vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q19vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q19" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q19" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q19" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q19" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q19" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q19" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>20. Los profesores (o locutores de radio o televisión) a menudo
	me dirigen sus comentarios.</p>
	<p><a name="q20_6111215"></a><a name="q20_7111215"></a>

<input type="radio" class="vof" required name="q20vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q20vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q20vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q20" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q20" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q20" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q20" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q20" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q20" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>21. Incluso si no lo dicen, me parece que otra gente está
	siempre preguntándose cómo soy de elegante.</p>
	<p><a name="q21_6111216"></a><a name="q21_7111216"></a>

<input type="radio" class="vof" required name="q21vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q21vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q21vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q21" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>
<input type="radio" name="q21" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q21" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q21" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q21" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q21" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>


	<p>22. Pequeños animales parecen poner su atención en mí cuando
	yo paso a su lado.</p>
	<p><a name="q22_6111217"></a><a name="q22_7111217"></a>

<input type="radio" class="vof" required name="q22vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q22vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q22vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q22" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q22" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q22" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q22" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q22" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q22" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>23. Me he dado cuenta de que a menudo la gente hace movimientos o
	señales con las manos cuando yo paso cerca de ellos.</p>
	<p><a name="q23_6111218"></a><a name="q23_7111218"></a>

<input type="radio" class="vof" required name="q23vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q23vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q23vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q23" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q23" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q23" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q23" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q23" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q23" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>


	<p>24. Muchas veces pienso que otros hacen comentarios sobre mi
	vestimenta.</p>
	<p><a name="q24_6111219"></a><a name="q24_7111219"></a>

<input type="radio" class="vof" required name="q24vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q24vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q24vofdiv" style="display:none">
	
<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q24" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q24" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q24" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q24" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q24" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q24" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>


	<p>25. Me parece que a menudo la gente imita mi forma o estilo de
	vestir.</p>
	<p><a name="q25_6111220"></a><a name="q25_7111220"></a>

<input type="radio" class="vof" required name="q25vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q25vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q25vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q25" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q25" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q25" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q25" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q25" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q25" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>26. Creo que otros muchas veces imitan mi manera de hablar.</p>
	<p><a name="q26_6111221"></a><a name="q26_7111221"></a>

<input type="radio" class="vof" required name="q26vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q26vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q26vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q26" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q26" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q26" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q26" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q26" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q26" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>27. Me pregunto muchas veces por qué tanta gente abandona la
	carretera usando la misma salida que yo.</p>
	<p><a name="q27_6111222"></a><a name="q27_7111222"></a>

<input type="radio" class="vof" required name="q27vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q27vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q27vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q27" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q27" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q27" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q27" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q27" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q27" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>28. Cuando me siento avergonzado, pienso que otros saben a menudo
	por qué me siento así.</p>
	<p><a name="q28_6111223"></a><a name="q28_7111223"></a>

<input type="radio" class="vof" required name="q28vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q28vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q28vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>
	

<input type="radio" name="q28" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q28" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q28" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q28" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q28" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q28" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>29. La gente casi siempre se da cuenta de características de mi
	personalidad que intento esconder.</p>
	<p><a name="q29_6111224"></a><a name="q29_7111224"></a>

<input type="radio" class="vof" required name="q29vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q29vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q29vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q29" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q29" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q29" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q29" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q29" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q29" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>30. Cuando me encuentro algo roto, a menudo me pregunto si otros
	me culparían por ello.</p>
	<p><a name="q30_6111225"></a><a name="q30_7111225"></a>

<input type="radio" class="vof" required name="q30vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q30vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q30vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q30" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q30" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q30" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q30" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q30" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q30" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>
	

<p>31. Aunque sé que en el fondo no es cierto, muchas veces siento
	que otros me culparían de cosas.</p>
	<p><a name="q31_6111226"></a><a name="q31_7111226"></a>

<input type="radio" class="vof" required name="q31vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" name="q31vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q31vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q31" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q31" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q31" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q31" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q31" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q31" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>32. No estoy seguro de por qué pero la gente a menudo pone mucha
	atención en mí.</p>
	<p><a name="q32_6111227"></a><a name="q32_7111227"></a>

<input type="radio" class="vof" required name="q32vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q32vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q32vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q32" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q32" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q32" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q32" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q32" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q32" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>33. Muchas veces pienso que la gente hace acusaciones sobre mi
	comportamiento.</p>
	<p><a name="q33_6111228"></a><a name="q33_7111228"></a>

<input type="radio" class="vof" required name="q33vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q33vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q33vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q33" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q33" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q33" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q33" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q33" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q33" value="5"  style="width: 0.28cm; height: 0.28cm">
	5</p></div>

	<p>34. A menudo me pregunto si la gente está en un sitio porque yo
	estoy allí.</p>
	<p><a name="q34_6111229"></a><a name="q34_7111229"></a>

<input type="radio" class="vof" required name="q34vof" value="v"  style="width: 0.28cm; height: 0.28cm">
	Verdadero<br/>
<input type="radio" class="vof" required name="q34vof" value="f"  style="width: 0.28cm; height: 0.28cm">
	Falso</p> <div id="q34vofdiv" style="display:none">

	<p>Qué tanto me preocupa:</p>

	
<input type="radio" name="q34" value="0"  style="width: 0.28cm; height: 0.28cm">
	0<br/>	
<input type="radio" name="q34" value="1"  style="width: 0.28cm; height: 0.28cm">
	1<br/>
<input type="radio" name="q34" value="2"  style="width: 0.28cm; height: 0.28cm">
	2<br/>
<input type="radio" name="q34" value="3"  style="width: 0.28cm; height: 0.28cm">
	3<br/>
<input type="radio" name="q34" value="4"  style="width: 0.28cm; height: 0.28cm">
	4<br/>
<input type="radio" name="q34" value="5"  style="width: 0.28cm; height: 0.28cm">
	5<br/></div>
<br/>
<center>
<input type="submit" value="Enviar"  style="width: 1.72cm; height: 0.95cm">
		</p></center>

</form>

</main>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const radioButtons = document.querySelectorAll('.vof');
    radioButtons.forEach(radioButton => {
        radioButton.addEventListener('change', function() {
            if(this.checked) {
				name = this.name + "div"
				var myDiv = document.getElementById(name);
                if (this.value == "v") {
					myDiv.style.display = "block";
					myDiv.querySelector('input').required = true;

					
                }
                else {
					myDiv.style.display = "none";
					myDiv.querySelector('input').required = false;
                }
                console.log('Selected radio button ID:', this.id);
                console.log('Selected radio button value:', this.value);
            }
        });
    });
});

</script>

</body>
</html>
