<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Cuestionario sobre Saliencia- Estudio sobre efectos del Cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">
</head>
<body lang="es-UY" dir="ltr"><h1>Cuestionario de Saliencia</h1>
<main>

<p>1. ¿Alguna vez te ha pasado que ciertas cosas triviales de pronto
adquieren una importancia o significado especial para ti?</p>
<form action="/submit-saliencia" method="post">
	<p><a name="q1_2"></a><a name="q1_3"></a>
<input type="radio" name="q1" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q1" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>2. ¿Sientes a veces que estás al límite o a punto de algo
	realmente importante, pero no estás seguro de qué es?</p>
	<p><a name="q2_2"></a><a name="q2_3"></a>
<input type="radio" name="q2" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q2" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>3. ¿Sientes algunas veces que tus sentidos (vista, oído, etc.)
	parecen más sensibles o se agudizan?</p>
	<p><a name="q3_2"></a><a name="q3_3"></a>
<input type="radio" name="q3" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q3" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>4. ¿Has sentido alguna vez como si te acercaras rápidamente al
	tope de tu capacidad intelectual?</p>
	<p><a name="q4_2"></a><a name="q4_3"></a>
<input type="radio" name="q4" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q4" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>5. ¿A veces notas que pequeños detalles en los que antes no te
	habías fijado parecen importantes?</p>
	<p><a name="q5_2"></a><a name="q5_3"></a>
<input type="radio" name="q5" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q5" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>6. ¿A veces sientes que es importante para ti comprender algo,
	pero no estás seguro de qué es?</p>
	<p><a name="q6_2"></a><a name="q6_3"></a>
<input type="radio" name="q6" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q6" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>7. ¿Pasas alguna vez por períodos en los que te sientes
	especialmente religioso o místico?</p>
	<p><a name="q7_2"></a><a name="q7_3"></a>
<input type="radio" name="q7" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q7" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>8. ¿Algunas veces tienes dificultad en distinguir si estás
	emocionado, asustado, dolido o ansioso?</p>
	<p><a name="q8_2"></a><a name="q8_3"></a>
<input type="radio" name="q8" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q8" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>9. ¿Algunas veces pasas por períodos de mayor sensibilidad (o
	que te das más cuenta de cualquier cosa)?</p>
	<p><a name="q9_2"></a><a name="q9_3"></a>
<input type="radio" name="q9" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q9" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>10. ¿Has sentido alguna vez la necesidad de dar sentido a
	situaciones o sucesos aparentemente azarosos o casuales?</p>
	<p><a name="q10_2"></a><a name="q10_3"></a>
<input type="radio" name="q10" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q10" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>11. ¿Te sientes a veces como si encontrases la pieza perdida de
	un rompecabezas?</p>
	<p><a name="q11_2"></a><a name="q11_3"></a>
<input type="radio" name="q11" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q11" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>12. ¿Algunas veces sientes que puedes oír con mayor claridad?</p>
	<p><a name="q12_2"></a><a name="q12_3"></a>
<input type="radio" name="q12" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q12" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>13. ¿Sientes a veces que eres una persona con una espiritualidad
	especialmente desarrollada?</p>
	<p><a name="q13_2"></a><a name="q13_3"></a>
<input type="radio" name="q13" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q13" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>14. ¿Las observaciones más habituales o cotidianas adquieren a
	veces un significado negativo o de mal agüero?</p>
	<p><a name="q14_2"></a><a name="q14_3"></a>
<input type="radio" name="q14" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q14" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>15. ¿Pasas por períodos en los que las canciones parecen tener
	un significado importante en tu vida?</p>
	<p><a name="q15_2"></a><a name="q15_3"></a>
<input type="radio" name="q15" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q15" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>16. ¿Algunas veces atribuyes importancia a objetos o cosas que
	normalmente no darías?</p>
	<p><a name="q16_2"></a><a name="q16_3"></a>
<input type="radio" name="q16" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q16" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>17. ¿Sientes algunas veces que estás a punto (al borde) de
	averiguar algo realmente grande o importante, pero no estás seguro
	de qué se trata?</p>
	<p><a name="q17_2"></a><a name="q17_3"></a>
<input type="radio" name="q17" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q17" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>18. ¿Te ha parecido alguna vez que tu sentido del gusto era más
	agudo o preciso?</p>
	<p><a name="q18_2"></a><a name="q18_3"></a>
<input type="radio" name="q18" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q18" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>19. ¿Has sentido alguna vez como si los misterios del universo
	se te revelasen?</p>
	<p><a name="q19_2"></a><a name="q19_3"></a>
<input type="radio" name="q19" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q19" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>20. ¿Pasas por períodos en los que te sientes sobreestimulado o
	saturado por cosas o experiencias que normalmente son manejables?</p>
	<p><a name="q20_2"></a><a name="q20_3"></a>
<input type="radio" name="q20" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q20" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>21. ¿A menudo llegas a fascinarte por las cosas sin importancia
	que te rodean?</p>
	<p><a name="q21_2"></a><a name="q21_3"></a>
<input type="radio" name="q21" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q21" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>22. ¿A veces llegan tus sentidos (vista, oído, etc.) a parecer
	extremadamente fuertes o claros?</p>
	<p><a name="q22_2"></a><a name="q22_3"></a>
<input type="radio" name="q22" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q22" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>23. ¿Sientes alguna vez como si un mundo entero se te abriera
	para ti?</p>
	<p><a name="q23_2"></a><a name="q23_3"></a>
<input type="radio" name="q23" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q23" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>24. ¿Has sentido en algún momento que has perdido los límites
	ente tus sensaciones internas y externas?</p>
	<p><a name="q24_2"></a><a name="q24_3"></a>
<input type="radio" name="q24" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q24" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>25. ¿Sientes a veces que el mundo está cambiando y buscas una
	explicación?</p>
	<p><a name="q25_2"></a><a name="q25_3"></a>
<input type="radio" name="q25" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q25" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>26. ¿Alguna vez has sentido una urgencia inexpresable, y no
	estás seguro/a de qué hacer?</p>
	<p><a name="q26_2"></a><a name="q26_3"></a>
<input type="radio" name="q26" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q26" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>27. ¿Algunas veces has llegado a interesarte por personas,
	sucesos, lugares, o ideas que normalmente no te llamarían la
	atención?</p>
	<p><a name="q27_2"></a><a name="q27_3"></a>
<input type="radio" name="q27" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q27" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>28. ¿En algún momento tus pensamientos y percepciones van más
	rápido de lo que pueden asimilarse?</p>
	<p><a name="q28_2"></a><a name="q28_3"></a>
<input type="radio" name="q28" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q28" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO</p>

	<p>29. ¿A veces notas que cosas a las cuales antes no prestabas
	atención, adquieren un significado especial?</p>
	<p><a name="q29_2"></a><a name="q29_3"></a>
<input type="radio" name="q29" value="SI"  style="width: 0.28cm; height: 0.28cm">
	SI<br/>
<input type="radio" name="q29" value="NO"  style="width: 0.28cm; height: 0.28cm">
	NO<br/>
<br/>
<center>
<input type="submit" value="Enviar"  style="width: 1.72cm; height: 0.95cm">
		</p>
		</center>
</form>
</main>
</body>
</html>
