<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Cuestionario de Síntomas Negativos - Estudio sobre efectos del Cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">
</head>
<body lang="es-UY" dir="ltr"><h1>Cuestionario de Síntomas Negativos</h1>
<main>

<p>1. Prefiero estar solo/a en mi rincón</p>
<form action="/submit-sns" method="post">
	<p><a name="q1_31111"></a><a name="q1_41111"></a><a name="q1_51111"></a>
	<input type="radio" name="q1" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q1" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q1" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>2. Estoy mejor cuando estoy solo/a, porque me siento incómodo/a
	con una persona cerca</p>
	<p><a name="q2_3111"></a><a name="q2_4111"></a><a name="q2_5111"></a>
	<input type="radio" name="q2" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q2" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q2" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>3. Salir con amigos o con la familia no me genera nada.</p>
	<p><a name="q3_311"></a><a name="q3_411"></a><a name="q3_511"></a>
<input type="radio" name="q3" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q3" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q3" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>4. No busco especialmente contactar ni reunirme con amigos/as
	(correos electrónicos, whatsapp, sms, teléfono, etc.)</p>
	<p><a name="q4_31"></a><a name="q4_41"></a><a name="q4_51"></a>
<input type="radio" name="q4" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q4" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q4" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>5. Me dicen que no parezco ni triste ni alegre y que no me enfado
	a menudo</p>
	<p><a name="q5_3"></a><a name="q5_4"></a><a name="q5_5"></a>
<input type="radio" name="q5" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q5" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q5" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>6. Hay muchas cosas alegres o tristes en la vida, pero no siento
	que me conciernan</p>
	<p><a name="q6_3"></a><a name="q6_4"></a><a name="q6_5"></a>
<input type="radio" name="q6" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q6" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q6" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>7. Ver una película triste o alegre, leer o escuchar una
	historia triste o alegre no me da especialmente ganas de llorar o de
	reír.</p>
	<p><a name="q7_3"></a><a name="q7_4"></a><a name="q7_5"></a>
<input type="radio" name="q7" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q7" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q7" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>8. Es difícil para una persona conocer mis emociones</p>
	<p><a name="q8_3"></a><a name="q8_4"></a><a name="q8_5"></a>
<input type="radio" name="q8" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q8" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q8" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>9. No tengo tanto que contar como la mayoría de la gente</p>
	<p><a name="q9_3"></a><a name="q9_4"></a><a name="q9_5"></a>
<input type="radio" name="q9" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q9" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q9" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>10. Hablar me supone 10 veces más esfuerzo que a la mayoría de
	la gente</p>
	<p><a name="q10_3"></a><a name="q10_4"></a><a name="q10_5"></a>
<input type="radio" name="q10" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q10" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q10" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>11. A menudo me advierten que hablo poco</p>
	<p><a name="q11_3"></a><a name="q11_4"></a><a name="q11_5"></a>
<input type="radio" name="q11" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q11" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q11" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>12. Con los amigos y familiares quiero decir cosas, pero no me
	sale</p>
	<p><a name="q12_3"></a><a name="q12_4"></a><a name="q12_5"></a>
<input type="radio" name="q12" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q12" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q12" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>13. Me resulta difícil cumplir los objetivos que me he fijado</p>
	<p><a name="q13_3"></a><a name="q13_4"></a><a name="q13_5"></a>
<input type="radio" name="q13" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q13" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q13" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>14. Es difícil mantenerme muy regular en las actividades
	cotidianas</p>
	<p><a name="q14_3"></a><a name="q14_4"></a><a name="q14_5"></a>
<input type="radio" name="q14" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q14" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q14" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>15. Hay muchas cosas que no hago por falta de motivación o de
	ganas</p>
	<p><a name="q15_3"></a><a name="q15_4"></a><a name="q15_5"></a>
<input type="radio" name="q15" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q15" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q15" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>16. Sí que tengo que hacer las cosas (levantarme o bañarme, por
	ejemplo), pero no tengo energía</p>
	<p><a name="q16_3"></a><a name="q16_4"></a><a name="q16_5"></a>
<input type="radio" name="q16" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q16" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q16" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>17. No siento especialmente placer charlando con los demás</p>
	<p><a name="q17_3"></a><a name="q17_4"></a><a name="q17_5"></a>
<input type="radio" name="q17" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q17" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q17" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>18. Me es difícil sentir algún placer incluso en las
	actividades que elijo</p>
	<p><a name="q18_3"></a><a name="q18_4"></a><a name="q18_5"></a>
<input type="radio" name="q18" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q18" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q18" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>19. Imaginarme haciendo tal o cual actividad, no me produce
	especial placer</p>
	<p><a name="q19_3"></a><a name="q19_4"></a><a name="q19_5"></a>
<input type="radio" name="q19" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q19" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q19" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo</p>

	<p>20. No veo el interés en el sexo</p>
	<p><a name="q20_3"></a><a name="q20_4"></a><a name="q20_5"></a>
<input type="radio" name="q20" value="Completamente de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Completamente de acuerdo<br/>
<input type="radio" name="q20" value="Algo de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Algo de acuerdo<br/>
<input type="radio" name="q20" value="Nada de acuerdo"  style="width: 0.28cm; height: 0.28cm">
	Nada de acuerdo<br/>
<br/>

<center>

<input type="submit" value="Enviar"  style="width: 1.72cm; height: 0.95cm">
		</p>

		</center>


</form>
</main>
</body>
</html>
