<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
	<title>Experiencias traumáticas - Estudio sobre efectos del Cannabis</title>
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">
</head>
<body>
    <h1>Cuestionario sobre Experiencias Traumáticas</h1>
    <main>
    <form action="/submit-texp" method="post">
        <p>1. Durante tu infancia: ¿alguien usó la fuerza para para quitarte algo que llevabas o vestías?</p>
        <input type="radio" id="q1_1" name="q1" value="1" required>
        <label for="q1_1">1 = una vez</label><br>
        <input type="radio" id="q1_2" name="q1" value="2">
        <label for="q1_2">2 = dos veces </label><br>
        <input type="radio" id="q1_3" name="q1" value="3">
        <label for="q1_3">3 = tres veces</label><br>
        <input type="radio" id="q1_4" name="q1" value="4">
        <label for="q1_4">4 = cuatro veces</label><br>
        <input type="radio" id="q1_5" name="q1" value="5">
        <label for="q1_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q1_0" name="q1" value="0">
        <label for="q1_0">0 = nunca</label><br><br>
        <p>2. Durante tu infancia: ¿alguien te robó algo (sin utilizar la fuerza) y nunca te lo devolvió? (objetos como mochila, reloj, ropa, etc.) o alguna otra cosa?</p>
        <input type="radio" id="q2_1" name="q2" value="1" required>
        <label for="q2_1">1 = una vez</label><br>
        <input type="radio" id="q2_2" name="q2" value="2">
        <label for="q2_2">2 = dos veces </label><br>
        <input type="radio" id="q2_3" name="q2" value="3">
        <label for="q2_3">3 = tres veces</label><br>
        <input type="radio" id="q2_4" name="q2" value="4">
        <label for="q2_4">4 = cuatro veces</label><br>
        <input type="radio" id="q2_5" name="q2" value="5">
        <label for="q2_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q2_0" name="q2" value="0">
        <label for="q2_0">0 = nunca</label><br><br>
        <p>3. Durante tu infancia: ¿alguien rompió o estropeó algo tuyo a propósito?</p>
        <input type="radio" id="q3_1" name="q3" value="1" required>
        <label for="q3_1">1 = una vez</label><br>
        <input type="radio" id="q3_2" name="q3" value="2">
        <label for="q3_2">2 = dos veces </label><br>
        <input type="radio" id="q3_3" name="q3" value="3">
        <label for="q3_3">3 = tres veces</label><br>
        <input type="radio" id="q3_4" name="q3" value="4">
        <label for="q3_4">4 = cuatro veces</label><br>
        <input type="radio" id="q3_5" name="q3" value="5">
        <label for="q3_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q3_0" name="q3" value="0">
        <label for="q3_0">0 = nunca</label><br><br>
        <p>4. Algunas veces la gente es atacada con objetos como palos, piedras, pistolas, cuchillos u otras cosas que pueden hacer daño. durante tu infancia: ¿alguien (excluyendo familiares, amigos, parejas o compañeros de la escuela o liceo) te atacó a propósito con un arma u otro objeto en lugares como tu casa, la calle, la escuela, una tienda o algún otro lugar?</p>
        <input type="radio" id="q4_1" name="q4" value="1" required>
        <label for="q4_1">1 = una vez</label><br>
        <input type="radio" id="q4_2" name="q4" value="2">
        <label for="q4_2">2 = dos veces </label><br>
        <input type="radio" id="q4_3" name="q4" value="3">
        <label for="q4_3">3 = tres veces</label><br>
        <input type="radio" id="q4_4" name="q4" value="4">
        <label for="q4_4">4 = cuatro veces</label><br>
        <input type="radio" id="q4_5" name="q4" value="5">
        <label for="q4_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q4_0" name="q4" value="0">
        <label for="q4_0">0 = nunca</label><br><br>
        <p>5. Durante tu infancia: ¿alguien (excluyendo personas de tu familia, compañeros de escuela, parejas o amigos) te sacó sin usar un arma o algún otro tipo de objeto?</p>
        <input type="radio" id="q5_1" name="q5" value="1" required>
        <label for="q5_1">1 = una vez</label><br>
        <input type="radio" id="q5_2" name="q5" value="2">
        <label for="q5_2">2 = dos veces </label><br>
        <input type="radio" id="q5_3" name="q5" value="3">
        <label for="q5_3">3 = tres veces</label><br>
        <input type="radio" id="q5_4" name="q5" value="4">
        <label for="q5_4">4 = cuatro veces</label><br>
        <input type="radio" id="q5_5" name="q5" value="5">
        <label for="q5_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q5_0" name="q5" value="0">
        <label for="q5_0">0 = nunca</label><br><br>
        <p>6. Durante tu infancia: ¿alguien empezó a atacarte, pero por alguna razón este ataque no acabó sucediendo? (por haber huido o porque alguien te ayudó)</p>
        <input type="radio" id="q6_1" name="q6" value="1" required>
        <label for="q6_1">1 = una vez</label><br>
        <input type="radio" id="q6_2" name="q6" value="2">
        <label for="q6_2">2 = dos veces </label><br>
        <input type="radio" id="q6_3" name="q6" value="3">
        <label for="q6_3">3 = tres veces</label><br>
        <input type="radio" id="q6_4" name="q6" value="4">
        <label for="q6_4">4 = cuatro veces</label><br>
        <input type="radio" id="q6_5" name="q6" value="5">
        <label for="q6_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q6_0" name="q6" value="0">
        <label for="q6_0">0 = nunca</label><br><br>
        <p>7. Durante tu infancia: ¿alguien te amenazó con herirte llegando a pensar que seguramente podría hacerlo?</p>
        <input type="radio" id="q7_1" name="q7" value="1" required>
        <label for="q7_1">1 = una vez</label><br>
        <input type="radio" id="q7_2" name="q7" value="2">
        <label for="q7_2">2 = dos veces </label><br>
        <input type="radio" id="q7_3" name="q7" value="3">
        <label for="q7_3">3 = tres veces</label><br>
        <input type="radio" id="q7_4" name="q7" value="4">
        <label for="q7_4">4 = cuatro veces</label><br>
        <input type="radio" id="q7_5" name="q7" value="5">
        <label for="q7_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q7_0" name="q7" value="0">
        <label for="q7_0">0 = nunca</label><br><br>
        <p>8. Durante tu infancia: ¿alguien (excluyendo tus familiares) intentó secuestrarte?</p>
        <input type="radio" id="q8_1" name="q8" value="1" required>
        <label for="q8_1">1 = una vez</label><br>
        <input type="radio" id="q8_2" name="q8" value="2">
        <label for="q8_2">2 = dos veces </label><br>
        <input type="radio" id="q8_3" name="q8" value="3">
        <label for="q8_3">3 = tres veces</label><br>
        <input type="radio" id="q8_4" name="q8" value="4">
        <label for="q8_4">4 = cuatro veces</label><br>
        <input type="radio" id="q8_5" name="q8" value="5">
        <label for="q8_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q8_0" name="q8" value="0">
        <label for="q8_0">0 = nunca</label><br><br>
        <p>9. Durante tu infancia: ¿te golpearon o atacaron por tu color de piel, religión, procedencia de tu familia, por algún problema físico o haciendo alusión a tu sexualidad?</p>
        <input type="radio" id="q9_1" name="q9" value="1" required>
        <label for="q9_1">1 = una vez</label><br>
        <input type="radio" id="q9_2" name="q9" value="2">
        <label for="q9_2">2 = dos veces </label><br>
        <input type="radio" id="q9_3" name="q9" value="3">
        <label for="q9_3">3 = tres veces</label><br>
        <input type="radio" id="q9_4" name="q9" value="4">
        <label for="q9_4">4 = cuatro veces</label><br>
        <input type="radio" id="q9_5" name="q9" value="5">
        <label for="q9_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q9_0" name="q9" value="0">
        <label for="q9_0">0 = nunca</label><br><br>
        <p>10. Sin incluir palmadas en la cola: ¿algún adulto de tu entorno te golpeó, pegó, dio patadas o te hizo daño físico de alguna otra forma durante tu infancia?</p>
        <input type="radio" id="q10_1" name="q10" value="1" required>
        <label for="q10_1">1 = una vez</label><br>
        <input type="radio" id="q10_2" name="q10" value="2">
        <label for="q10_2">2 = dos veces </label><br>
        <input type="radio" id="q10_3" name="q10" value="3">
        <label for="q10_3">3 = tres veces</label><br>
        <input type="radio" id="q10_4" name="q10" value="4">
        <label for="q10_4">4 = cuatro veces</label><br>
        <input type="radio" id="q10_5" name="q10" value="5">
        <label for="q10_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q10_0" name="q10" value="0">
        <label for="q10_0">0 = nunca</label><br><br>
        <p>11. Durante tu infancia: ¿te sentiste asustado o realmente mal porque algún adulto de tu entorno te insultara, te dijera cosas malas o crueles, o que no te quería?</p>
        <input type="radio" id="q11_1" name="q11" value="1" required>
        <label for="q11_1">1 = una vez</label><br>
        <input type="radio" id="q11_2" name="q11" value="2">
        <label for="q11_2">2 = dos veces </label><br>
        <input type="radio" id="q11_3" name="q11" value="3">
        <label for="q11_3">3 = tres veces</label><br>
        <input type="radio" id="q11_4" name="q11" value="4">
        <label for="q11_4">4 = cuatro veces</label><br>
        <input type="radio" id="q11_5" name="q11" value="5">
        <label for="q11_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q11_0" name="q11" value="0">
        <label for="q11_0">0 = nunca</label><br><br>
        <p>12. Cuando alguien sufre un trato negligente (que adultos responsables a cargo no cuidan como se debería: no dando suficiente comida, no llevando al niño/a al médico cuando está enfermo, o no asegurándose de que haya un sitio seguro para estar). ¿cuando eras niño/a recibiste alguna vez un trato negligente?</p>
        <input type="radio" id="q12_1" name="q12" value="1" required>
        <label for="q12_1">1 = una vez</label><br>
        <input type="radio" id="q12_2" name="q12" value="2">
        <label for="q12_2">2 = dos veces </label><br>
        <input type="radio" id="q12_3" name="q12" value="3">
        <label for="q12_3">3 = tres veces</label><br>
        <input type="radio" id="q12_4" name="q12" value="4">
        <label for="q12_4">4 = cuatro veces</label><br>
        <input type="radio" id="q12_5" name="q12" value="5">
        <label for="q12_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q12_0" name="q12" value="0">
        <label for="q12_0">0 = nunca</label><br><br>
        <p>13. Algunas veces las familias se pelean y discuten sobre dónde deben vivir los hijos/as. Durante tu infancia: ¿alguno de tus padres u otro miembro de tu familia te apartó, o escondió o te mantuvo alejado de tu padre o madre?</p>
        <input type="radio" id="q13_1" name="q13" value="1" required>
        <label for="q13_1">1 = una vez</label><br>
        <input type="radio" id="q13_2" name="q13" value="2">
        <label for="q13_2">2 = dos veces </label><br>
        <input type="radio" id="q13_3" name="q13" value="3">
        <label for="q13_3">3 = tres veces</label><br>
        <input type="radio" id="q13_4" name="q13" value="4">
        <label for="q13_4">4 = cuatro veces</label><br>
        <input type="radio" id="q13_5" name="q13" value="5">
        <label for="q13_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q13_0" name="q13" value="0">
        <label for="q13_0">0 = nunca</label><br><br>
        <p>14. Algunas veces, grupos de chicos/as o bandas agreden y atacan a la gente. Durante tu infancia: ¿te golpeó, asaltó o atacó algún grupo de chicos/as o una banda?</p>
        <input type="radio" id="q14_1" name="q14" value="1" required>
        <label for="q14_1">1 = una vez</label><br>
        <input type="radio" id="q14_2" name="q14" value="2">
        <label for="q14_2">2 = dos veces </label><br>
        <input type="radio" id="q14_3" name="q14" value="3">
        <label for="q14_3">3 = tres veces</label><br>
        <input type="radio" id="q14_4" name="q14" value="4">
        <label for="q14_4">4 = cuatro veces</label><br>
        <input type="radio" id="q14_5" name="q14" value="5">
        <label for="q14_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q14_0" name="q14" value="0">
        <label for="q14_0">0 = nunca</label><br><br>
        <p>15. Durante tu infancia: ¿te golpeó algún otro chico o chica, hermanos o hermanas, en tu casa, jugando afuera, en algún local u otro lugar?</p>
        <input type="radio" id="q15_1" name="q15" value="1" required>
        <label for="q15_1">1 = una vez</label><br>
        <input type="radio" id="q15_2" name="q15" value="2">
        <label for="q15_2">2 = dos veces </label><br>
        <input type="radio" id="q15_3" name="q15" value="3">
        <label for="q15_3">3 = tres veces</label><br>
        <input type="radio" id="q15_4" name="q15" value="4">
        <label for="q15_4">4 = cuatro veces</label><br>
        <input type="radio" id="q15_5" name="q15" value="5">
        <label for="q15_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q15_0" name="q15" value="0">
        <label for="q15_0">0 = nunca</label><br><br>
        <p>16. Durante tu infancia: ¿hubo algún chico o chica que tratara de hacerte daño en tus partes íntimas golpeando o agrediendo de diferentes maneras?</p>
        <input type="radio" id="q16_1" name="q16" value="1" required>
        <label for="q16_1">1 = una vez</label><br>
        <input type="radio" id="q16_2" name="q16" value="2">
        <label for="q16_2">2 = dos veces </label><br>
        <input type="radio" id="q16_3" name="q16" value="3">
        <label for="q16_3">3 = tres veces</label><br>
        <input type="radio" id="q16_4" name="q16" value="4">
        <label for="q16_4">4 = cuatro veces</label><br>
        <input type="radio" id="q16_5" name="q16" value="5">
        <label for="q16_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q16_0" name="q16" value="0">
        <label for="q16_0">0 = nunca</label><br><br>
        <p>17. Durante tu infancia: ¿algún chico o chica, incluso hermanos o hermanas se metieron contigo persiguiéndote, cinchando o tirando el pelo, la ropa u obligándote a hacer algo que no querías?</p>
        <input type="radio" id="q17_1" name="q17" value="1" required>
        <label for="q17_1">1 = una vez</label><br>
        <input type="radio" id="q17_2" name="q17" value="2">
        <label for="q17_2">2 = dos veces </label><br>
        <input type="radio" id="q17_3" name="q17" value="3">
        <label for="q17_3">3 = tres veces</label><br>
        <input type="radio" id="q17_4" name="q17" value="4">
        <label for="q17_4">4 = cuatro veces</label><br>
        <input type="radio" id="q17_5" name="q17" value="5">
        <label for="q17_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q17_0" name="q17" value="0">
        <label for="q17_0">0 = nunca</label><br><br>
        <p>18. Durante tu infancia: ¿te asustaste o sentiste realmente mal porque otros chicos/as te insultaran, te dijeran cosas desagradables o te dijeran que no te querían con ellos?</p>
        <input type="radio" id="q18_1" name="q18" value="1" required>
        <label for="q18_1">1 = una vez</label><br>
        <input type="radio" id="q18_2" name="q18" value="2">
        <label for="q18_2">2 = dos veces </label><br>
        <input type="radio" id="q18_3" name="q18" value="3">
        <label for="q18_3">3 = tres veces</label><br>
        <input type="radio" id="q18_4" name="q18" value="4">
        <label for="q18_4">4 = cuatro veces</label><br>
        <input type="radio" id="q18_5" name="q18" value="5">
        <label for="q18_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q18_0" name="q18" value="0">
        <label for="q18_0">0 = nunca</label><br><br>
        <p>19. Durante tu infancia: ¿el chico o la chica con quien salías o alguien con quien tuviste una cita te dio una cachetada o te pegó?</p>
        <input type="radio" id="q19_1" name="q19" value="1" required>
        <label for="q19_1">1 = una vez</label><br>
        <input type="radio" id="q19_2" name="q19" value="2">
        <label for="q19_2">2 = dos veces </label><br>
        <input type="radio" id="q19_3" name="q19" value="3">
        <label for="q19_3">3 = tres veces</label><br>
        <input type="radio" id="q19_4" name="q19" value="4">
        <label for="q19_4">4 = cuatro veces</label><br>
        <input type="radio" id="q19_5" name="q19" value="5">
        <label for="q19_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q19_0" name="q19" value="0">
        <label for="q19_0">0 = nunca</label><br><br>
        <p>20. Durante tu infancia: ¿algún adulto QUE CONOCÍAS tocó tus partes íntimas cuando no debía hacerlo, te obligó a que tú se las tocaras o te forzó a mantener relaciones sexuales?</p>
        <input type="radio" id="q20_1" name="q20" value="1" required>
        <label for="q20_1">1 = una vez</label><br>
        <input type="radio" id="q20_2" name="q20" value="2">
        <label for="q20_2">2 = dos veces </label><br>
        <input type="radio" id="q20_3" name="q20" value="3">
        <label for="q20_3">3 = tres veces</label><br>
        <input type="radio" id="q20_4" name="q20" value="4">
        <label for="q20_4">4 = cuatro veces</label><br>
        <input type="radio" id="q20_5" name="q20" value="5">
        <label for="q20_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q20_0" name="q20" value="0">
        <label for="q20_0">0 = nunca</label><br><br>
        <p>21. Durante tu infancia: ¿algún adulto QUE NO CONOCÍAS te tocó tus partes íntimas cuando no debía hacerlo, te obligó a que tú se las tocaras o te forzó a mantener relaciones sexuales?</p>
        <input type="radio" id="q21_1" name="q21" value="1" required>
        <label for="q21_1">1 = una vez</label><br>
        <input type="radio" id="q21_2" name="q21" value="2">
        <label for="q21_2">2 = dos veces </label><br>
        <input type="radio" id="q21_3" name="q21" value="3">
        <label for="q21_3">3 = tres veces</label><br>
        <input type="radio" id="q21_4" name="q21" value="4">
        <label for="q21_4">4 = cuatro veces</label><br>
        <input type="radio" id="q21_5" name="q21" value="5">
        <label for="q21_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q21_0" name="q21" value="0">
        <label for="q21_0">0 = nunca</label><br><br>
        <p>22. Ahora piensa en chicos y chicas que tenían tu misma edad en aquel momento como por ejemplo compañeros de colegio/escuela, parejas o chicos/as con los que has salido o incluso hermanos o hermanas: ¿alguna vez alguno de estos chicos o chicas te obligó o forzó a realizar actos sexuales?</p>
        <input type="radio" id="q22_1" name="q22" value="1" required>
        <label for="q22_1">1 = una vez</label><br>
        <input type="radio" id="q22_2" name="q22" value="2">
        <label for="q22_2">2 = dos veces </label><br>
        <input type="radio" id="q22_3" name="q22" value="3">
        <label for="q22_3">3 = tres veces</label><br>
        <input type="radio" id="q22_4" name="q22" value="4">
        <label for="q22_4">4 = cuatro veces</label><br>
        <input type="radio" id="q22_5" name="q22" value="5">
        <label for="q22_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q22_0" name="q22" value="0">
        <label for="q22_0">0 = nunca</label><br><br>
        <p>23. Durante tu infancia: ¿alguien intentó forzarte a mantener relaciones sexuales completas (es decir, con penetración) incluso aunque no hayan llegado a suceder?</p>
        <input type="radio" id="q23_1" name="q23" value="1" required>
        <label for="q23_1">1 = una vez</label><br>
        <input type="radio" id="q23_2" name="q23" value="2">
        <label for="q23_2">2 = dos veces </label><br>
        <input type="radio" id="q23_3" name="q23" value="3">
        <label for="q23_3">3 = tres veces</label><br>
        <input type="radio" id="q23_4" name="q23" value="4">
        <label for="q23_4">4 = cuatro veces</label><br>
        <input type="radio" id="q23_5" name="q23" value="5">
        <label for="q23_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q23_0" name="q23" value="0">
        <label for="q23_0">0 = nunca</label><br><br>
        <p>24. Durante tu infancia: ¿alguien te obligó a mirarle sus genitales utilizando la fuerza o exhibiéndolas por sorpresa?</p>
        <input type="radio" id="q24_1" name="q24" value="1" required>
        <label for="q24_1">1 = una vez</label><br>
        <input type="radio" id="q24_2" name="q24" value="2">
        <label for="q24_2">2 = dos veces </label><br>
        <input type="radio" id="q24_3" name="q24" value="3">
        <label for="q24_3">3 = tres veces</label><br>
        <input type="radio" id="q24_4" name="q24" value="4">
        <label for="q24_4">4 = cuatro veces</label><br>
        <input type="radio" id="q24_5" name="q24" value="5">
        <label for="q24_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q24_0" name="q24" value="0">
        <label for="q24_0">0 = nunca</label><br><br>
        <p>25. Durante tu infancia: ¿alguien hirió tus sentimientos diciendo o escribiendo algo sexual sobre ti o sobre tu cuerpo (sin tomar en cuenta si fuera mediante internet, celular u otros aparatos electrónicos)</p>
        <input type="radio" id="q25_1" name="q25" value="1" required>
        <label for="q25_1">1 = una vez</label><br>
        <input type="radio" id="q25_2" name="q25" value="2">
        <label for="q25_2">2 = dos veces </label><br>
        <input type="radio" id="q25_3" name="q25" value="3">
        <label for="q25_3">3 = tres veces</label><br>
        <input type="radio" id="q25_4" name="q25" value="4">
        <label for="q25_4">4 = cuatro veces</label><br>
        <input type="radio" id="q25_5" name="q25" value="5">
        <label for="q25_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q25_0" name="q25" value="0">
        <label for="q25_0">0 = nunca</label><br><br>
        <p>26. Durante tu infancia: ¿viste a alguno de tus padres ser golpeado por el otro o por su pareja (cachetada, piña, paliza)?</p>
        <input type="radio" id="q26_1" name="q26" value="1" required>
        <label for="q26_1">1 = una vez</label><br>
        <input type="radio" id="q26_2" name="q26" value="2">
        <label for="q26_2">2 = dos veces </label><br>
        <input type="radio" id="q26_3" name="q26" value="3">
        <label for="q26_3">3 = tres veces</label><br>
        <input type="radio" id="q26_4" name="q26" value="4">
        <label for="q26_4">4 = cuatro veces</label><br>
        <input type="radio" id="q26_5" name="q26" value="5">
        <label for="q26_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q26_0" name="q26" value="0">
        <label for="q26_0">0 = nunca</label><br><br>
        <p>27. Durante tu infancia: ¿viste a alguno de tus padres pegar, golpear, dar patadas, herir físicamente a tus hermanos o hermanas (sin tomar en cuenta palmadas en la cola)</p>
        <input type="radio" id="q27_1" name="q27" value="1" required>
        <label for="q27_1">1 = una vez</label><br>
        <input type="radio" id="q27_2" name="q27" value="2">
        <label for="q27_2">2 = dos veces </label><br>
        <input type="radio" id="q27_3" name="q27" value="3">
        <label for="q27_3">3 = tres veces</label><br>
        <input type="radio" id="q27_4" name="q27" value="4">
        <label for="q27_4">4 = cuatro veces</label><br>
        <input type="radio" id="q27_5" name="q27" value="5">
        <label for="q27_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q27_0" name="q27" value="0">
        <label for="q27_0">0 = nunca</label><br><br>
        <p>28. Durante tu infancia: ¿viste en la vida real a alguien ser atacado a propósito con un palo, piedra, pistola, cuchillo u otro objeto que pudiera hacer daño (en tu casa, escuela, auto, calle u otro lugar)?</p>
        <input type="radio" id="q28_1" name="q28" value="1" required>
        <label for="q28_1">1 = una vez</label><br>
        <input type="radio" id="q28_2" name="q28" value="2">
        <label for="q28_2">2 = dos veces </label><br>
        <input type="radio" id="q28_3" name="q28" value="3">
        <label for="q28_3">3 = tres veces</label><br>
        <input type="radio" id="q28_4" name="q28" value="4">
        <label for="q28_4">4 = cuatro veces</label><br>
        <input type="radio" id="q28_5" name="q28" value="5">
        <label for="q28_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q28_0" name="q28" value="0">
        <label for="q28_0">0 = nunca</label><br><br>
        <p>29. Durante tu infancia: ¿viste en la vida real a alguien siendo atacado o golpeado sin utilizar palos, piedras, pistolas, cuchillos u otros objetos?</p>
        <input type="radio" id="q29_1" name="q29" value="1" required>
        <label for="q29_1">1 = una vez</label><br>
        <input type="radio" id="q29_2" name="q29" value="2">
        <label for="q29_2">2 = dos veces </label><br>
        <input type="radio" id="q29_3" name="q29" value="3">
        <label for="q29_3">3 = tres veces</label><br>
        <input type="radio" id="q29_4" name="q29" value="4">
        <label for="q29_4">4 = cuatro veces</label><br>
        <input type="radio" id="q29_5" name="q29" value="5">
        <label for="q29_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q29_0" name="q29" value="0">
        <label for="q29_0">0 = nunca</label><br><br>
        <p>30. Durante tu infancia: ¿alguien robó de tu casa alguna pertenencia de tu familia o de alguien que viviera con ustedes (tv, equipo de música, auto o alguna otra pertenencia)?</p>
        <input type="radio" id="q30_1" name="q30" value="1" required>
        <label for="q30_1">1 = una vez</label><br>
        <input type="radio" id="q30_2" name="q30" value="2">
        <label for="q30_2">2 = dos veces </label><br>
        <input type="radio" id="q30_3" name="q30" value="3">
        <label for="q30_3">3 = tres veces</label><br>
        <input type="radio" id="q30_4" name="q30" value="4">
        <label for="q30_4">4 = cuatro veces</label><br>
        <input type="radio" id="q30_5" name="q30" value="5">
        <label for="q30_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q30_0" name="q30" value="0">
        <label for="q30_0">0 = nunca</label><br><br>
        <p>31. Durante tu infancia: ¿fue asesinado alguien cercano a ti (amigo, vecino o familiar)?</p>
        <input type="radio" id="q31_1" name="q31" value="1" required>
        <label for="q31_1">1 = una vez</label><br>
        <input type="radio" id="q31_2" name="q31" value="2">
        <label for="q31_2">2 = dos veces </label><br>
        <input type="radio" id="q31_3" name="q31" value="3">
        <label for="q31_3">3 = tres veces</label><br>
        <input type="radio" id="q31_4" name="q31" value="4">
        <label for="q31_4">4 = cuatro veces</label><br>
        <input type="radio" id="q31_5" name="q31" value="5">
        <label for="q31_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q31_0" name="q31" value="0">
        <label for="q31_0">0 = nunca</label><br><br>
        <p>32. Durante tu infancia: ¿Viste a alguien asesinado en la vida real? (no corresponde en películas, videojuegos o televisión)</p>
        <input type="radio" id="q32_1" name="q32" value="1" required>
        <label for="q32_1">1 = una vez</label><br>
        <input type="radio" id="q32_2" name="q32" value="2">
        <label for="q32_2">2 = dos veces </label><br>
        <input type="radio" id="q32_3" name="q32" value="3">
        <label for="q32_3">3 = tres veces</label><br>
        <input type="radio" id="q32_4" name="q32" value="4">
        <label for="q32_4">4 = cuatro veces</label><br>
        <input type="radio" id="q32_5" name="q32" value="5">
        <label for="q32_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q32_0" name="q32" value="0">
        <label for="q32_0">0 = nunca</label><br><br>
        <p>33. Durante tu infancia: ¿estuviste en algún lugar en la vida real donde pudieses ver u oír como disparaban a personas, caían bombas o había disturbios en las calles?</p>
        <input type="radio" id="q33_1" name="q33" value="1" required>
        <label for="q33_1">1 = una vez</label><br>
        <input type="radio" id="q33_2" name="q33" value="2">
        <label for="q33_2">2 = dos veces </label><br>
        <input type="radio" id="q33_3" name="q33" value="3">
        <label for="q33_3">3 = tres veces</label><br>
        <input type="radio" id="q33_4" name="q33" value="4">
        <label for="q33_4">4 = cuatro veces</label><br>
        <input type="radio" id="q33_5" name="q33" value="5">
        <label for="q33_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q33_0" name="q33" value="0">
        <label for="q33_0">0 = nunca</label><br><br>
        <p>34. Durante tu infancia: ¿estuviste presente en alguna guerra donde pudieras oír combates reales con armas o bombas?</p>
        <input type="radio" id="q34_1" name="q34" value="1" required>
        <label for="q34_1">1 = una vez</label><br>
        <input type="radio" id="q34_2" name="q34" value="2">
        <label for="q34_2">2 = dos veces </label><br>
        <input type="radio" id="q34_3" name="q34" value="3">
        <label for="q34_3">3 = tres veces</label><br>
        <input type="radio" id="q34_4" name="q34" value="4">
        <label for="q34_4">4 = cuatro veces</label><br>
        <input type="radio" id="q34_5" name="q34" value="5">
        <label for="q34_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q34_0" name="q34" value="0">
        <label for="q34_0">0 = nunca</label><br><br>
        <p>35. Durante tu infancia: ¿alguien usó internet, el teléfono móvil o cualquier otro medio electrónico para molestarte o acosarte, o para divulgar o hacer llegar a la gente cosas malas o crueles sobre ti, o fotografías tuyas?</p>
        <input type="radio" id="q35_1" name="q35" value="1" required>
        <label for="q35_1">1 = una vez</label><br>
        <input type="radio" id="q35_2" name="q35" value="2">
        <label for="q35_2">2 = dos veces </label><br>
        <input type="radio" id="q35_3" name="q35" value="3">
        <label for="q35_3">3 = tres veces</label><br>
        <input type="radio" id="q35_4" name="q35" value="4">
        <label for="q35_4">4 = cuatro veces</label><br>
        <input type="radio" id="q35_5" name="q35" value="5">
        <label for="q35_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q35_0" name="q35" value="0">
        <label for="q35_0">0 = nunca</label><br><br>
        <p>36. Durante tu infancia: ¿algún adulto usó internet, el teléfono móvil o cualquier otro medio electrónico para hacerte preguntas sexuales sobre ti o intentó hablar online contigo sobre sexo?</p>
        <input type="radio" id="q36_1" name="q36" value="1" required>
        <label for="q36_1">1 = una vez</label><br>
        <input type="radio" id="q36_2" name="q36" value="2">
        <label for="q36_2">2 = dos veces </label><br>
        <input type="radio" id="q36_3" name="q36" value="3">
        <label for="q36_3">3 = tres veces</label><br>
        <input type="radio" id="q36_4" name="q36" value="4">
        <label for="q36_4">4 = cuatro veces</label><br>
        <input type="radio" id="q36_5" name="q36" value="5">
        <label for="q36_5">5 = cinco veces o más</label><br>
        <input type="radio" id="q36_0" name="q36" value="0">
        <label for="q36_0">0 = nunca</label><br><br>
        <center>
        <input type="submit" value="Enviar">
        </center>
    </form>
    </main>
</body>
</html>
