<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="canonical" href="http://digital.psico.edu.uy/cannabis">
	<title>Estudio sobre efectos del Cannabis</title>
</head>
<body lang="es-UY" dir="ltr"><h1>Estudio sobre efectos del Cannabis</h1>
<main>
<div class="logos">
<img src="static/img/logo_psico.jpeg" alt="logo psico udelar" width="40%"/>
     <img src="static/img/logo_canna.png" alt="logo del proyecto" width="30%"/>
     <img src="static/img/logo_sevilla.png" alt="logo de uni se" width="25%"/>
      </div>

<p>Bienvenid@!<br/>
<br/>
Muchos estudios científicos indican que las diferentes formas de consumir
cannabis tienen efectos diferentes en nuestro comportamiento y
pensamiento, pudiendo por ejemplo, provocar síntomas clínicos atenuados
que den cuenta de sutiles alteraciones perceptuales de la realidad.
En este estudio se busca explorar dicho impacto, con el fin de
conocer con mayor profundidad los efectos del cannabis y qué factores
lo modulan. Para ello necesitamos a la vez de la colaboración de personas que no consuman cannabis y de
personas que si lo hagan. Así que no importa en qué grupo de te encuentres, ¡puedes ayudarnos!
</p>
<p><br/>

</p>
<p>Participar
en este estudio te llevará unos 15 minutos aproximadamente, y
deberás completar preguntas con información sobre ti y deberás
responder libremente a 3 preguntas grabando el audio de tu respuesta
en tu celular.</p>
<p><br/>

</p>
<ul>
	<li><p>Para
	participar en este estudio es necesario que tengas entre 18 y 40
	años y hablar español como lengua materna. 
	</p>
	<li><p>No
	puedes participar si tienes el diagnóstico de alguna patología
	psiquiátrica mayor como depresión mayor, algún trastorno
	psicótico, trastorno de ansiedad, trastorno del neurodesarrollo.</p>
</ul>
    <div>
        <a class="button quiero_participar" href="info">¡Quiero participar!</a>
    </div>

<p>Ante
cualquier duda o consulta en particular podés comunicarte a través
del mail: <b>psirjrodriguez - gmail</b></p>
</form>
</main>
    <footer>
      <div class="credits">
        <div class="autores">
          <p><b>Investigador principal</b>: <a href="https://cibpsi.psico.edu.uy/es/users/richardrodriguez">Richard Rodríguez</a></p>
          <p><b>Equipo:</b> <a href="https://psico.edu.uy/user/524">Álvaro Cabana</a>, <a href="https://cicp.psico.edu.uy/investigacion/paul-ruiz">Paul Ruiz</a>, <a href="https://www.us.es/trabaja-en-la-us/directorio/juan-francisco-rodriguez-testal">Juan Fco. Rodriguez Testal</a>. </p>
        </div>
        <div class="institucion">
          Universidad de la República, Uruguay - Universidad de Sevilla, España
        </div>
      </div>
    </footer>
</body>
</html>
